<div class="banner" id="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("banner-1", class:"d-block w-100", alt:"banner-1") %>
        <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
          <div class="carousel-content container">
            <div class="text-center">
              <h1 data-animation="animated fadeInDown delay-05s">
                <%= t ".sologan_1" %>
              </h1>
              <p data-animation="animated fadeInUp delay-10s">
                <%= t ".sologan_1_sub" %>
              </p>
              <%= link_to new_user_registration_path, class:"btn btn-lg btn-round btn-theme" do %>
                <%= raw t(".sign_up") %>
              <% end %>
              <%= link_to new_user_session_path, class:"btn btn-lg btn-round btn-white-lg-outline" do %>
                <%= raw t(".sign_in") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("banner-2", class:"d-block w-100", alt:"banner-2") %>
        <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
          <div class="carousel-content container">
            <div class="text-center">
              <h1 data-animation="animated fadeInDown delay-05s">
                <%= t ".sologan_2" %>
              </h1>
              <p data-animation="animated fadeInUp delay-10s">
                <%= t ".sologan_2_sub" %>
              </p>
              <%= link_to new_user_registration_path, class:"btn btn-lg btn-round btn-theme" do %>
                <%= raw t(".sign_up") %>
              <% end %>
              <%= link_to new_user_session_path, class:"btn btn-lg btn-round btn-white-lg-outline" do %>
                <%= raw t(".sign_in") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("banner-3", class:"d-block w-100", alt:"banner-3") %>
        <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
          <div class="carousel-content container">
            <div class="text-center">
              <h1 data-animation="animated fadeInUp delay-05s">
                <%= raw t ".sologan_3" %>
              </h1>
              <p data-animation="animated fadeInUp delay-10s">
                <%= t ".sologan_3_sub" %>
              </p>
              <%= link_to new_user_registration_path, class:"btn btn-lg btn-round btn-theme" do %>
                <%= raw t(".sign_up") %>
              <% end %>
              <%= link_to new_user_session_path, class:"btn btn-lg btn-round btn-white-lg-outline" do %>
                <%= raw t(".sign_in") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="slider-mover-left" aria-hidden="true">
      <i class="fa fa-angle-left"></i>
    </span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="slider-mover-right" aria-hidden="true">
      <i class="fa fa-angle-right"></i>
    </span>
    </a>
  </div>
</div>

<div class="properties-list-fullwidth content-area-2">
  <div class="container">
    <div class="tabbing tabbing-box mb-60">
      <ul class="nav nav-tabs" id="carTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" id="<%= @brands.first.name %>-tab" data-toggle="tab" href="#<%= @brands.first.name %>" role="tab" aria-controls="<%= @brands.first.name %>" aria-selected="false"><%= @brands.first.name %></a>
        </li>
        <% @brands.last(@brands.count-1).each do |brand| %>
        <li class="nav-item">
          <a class="nav-link" id="<%= brand.name %>-tab" data-toggle="tab" href="#<%= brand.name%>" role="tab" aria-controls="<%= brand.name%>" aria-selected="false"><%= brand.name%></a>
        </li>
        <% end %>
      </ul>
      <div class="tab-content" id="carTabContent">
        <% reviews = @brands.first.reviews.last(6) %>
        <div class="tab-pane fade active show" id="<%= @brands.first.name %>" role="tabpanel" aria-labelledby="<%= @brands.first.name %>-tab">
          <h3 class="heading"><%= @brands.first.name %></h3>
          <div class="row">
            <% reviews.each do |review| %>
              <%= render "admin/reviews/review_detail", review: review %>
            <% end %>
          </div>
        </div>
        <% @brands.last(@brands.count-1).each do |brand| %>
        <% reviews = brand.reviews.last(6) %>
        <div class="tab-pane fade" id="<%= brand.name %>" role="tabpanel" aria-labelledby="<%= brand.name %>-tab">
          <h3 class="heading"><%= brand.name %></h3>
          <div class="row">
            <% reviews.each do |review| %>
              <%= render "admin/reviews/review_detail", review: review %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Recent Properties start -->
<div class="recent-properties content-area">
  <div class="container">
    <div class="main-title">
      <h1><%= t ".recent_reviews "%></h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft delay-04s">
        <div class="card property-box-2">
          <!-- property img -->
          <div class="property-thumbnail">
            <a href="properties-details.html" class="property-img">
            <% if @recent_reviews[0].picture.present? %>
              <%= cl_image_tag(@recent_reviews[0].picture, class:"img-fluid") %>
            <% else %>
              <%= image_tag("banner-2", class:"img-fluid") %>
            <% end %>
            </a>
            <div class="property-overlay">
              <a href="properties-details.html" class="overlay-link">
              <i class="fa fa-link"></i>
              </a>
              <a class="overlay-link property-video" title="Test Title">
              <i class="fa fa-video-camera"></i>
              </a>
              <div class="property-magnify-gallery">
                <a href="assets/img/property-3.jpg" class="overlay-link">
                <i class="fa fa-expand"></i>
                </a>
                <a href="assets/img/property-7.jpg" class="hidden"></a>
                <a href="assets/img/property-6.jpg" class="hidden"></a>
              </div>
            </div>
          </div>
          <!-- detail -->
          <div class="detail">
            <h5 class="title"><a href="properties-details.html"><%= @recent_reviews[0].name %></a></h5>
            <h4 class="price">
              <%= t "price_str", price: price_review(@recent_reviews[0].price) %>
            </h4>
            <p><%= @recent_reviews[0].review %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp delay-04s">
        <div class="card property-box-2">
          <!-- property img -->
          <div class="property-thumbnail">
            <a href="properties-details.html" class="property-img">
            <% if @recent_reviews[1].picture.present? %>
              <%= cl_image_tag(@recent_reviews[1].picture, class:"img-fluid") %>
            <% else %>
              <%= image_tag("banner-1", class:"img-fluid") %>
            <% end %>
            </a>
            <div class="property-overlay">
              <a href="properties-details.html" class="overlay-link">
              <i class="fa fa-link"></i>
              </a>
              <a class="overlay-link property-video" title="Test Title">
              <i class="fa fa-video-camera"></i>
              </a>
              <div class="property-magnify-gallery">
                <a href="assets/img/property-7.jpg" class="overlay-link">
                <i class="fa fa-expand"></i>
                </a>
                <a href="assets/img/property-4.jpg" class="hidden"></a>
                <a href="assets/img/property-3.jpg" class="hidden"></a>
              </div>
            </div>
          </div>
          <!-- detail -->
          <div class="detail">
            <h5 class="title"><a href="properties-details.html"><%= @recent_reviews[1].name %></a></h5>
            <h4 class="price">
              <%= t "price_str", price: price_review(@recent_reviews[1].price) %>
            </h4>
            <p><%= @recent_reviews[1].review %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp delay-04s">
        <div class="card property-box-2">
          <!-- property img -->
          <div class="property-thumbnail">
            <a href="properties-details.html" class="property-img">
            <% if @recent_reviews[2].picture.present? %>
              <%= cl_image_tag(@recent_reviews[2].picture, class:"img-fluid") %>
            <% else %>
              <%= image_tag("banner-1", class:"img-fluid") %>
            <% end %>
            </a>
            <div class="property-overlay">
              <a href="properties-details.html" class="overlay-link">
              <i class="fa fa-link"></i>
              </a>
              <a class="overlay-link property-video" title="Test Title">
              <i class="fa fa-video-camera"></i>
              </a>
              <div class="property-magnify-gallery">
                <a href="assets/img/property-5.jpg" class="overlay-link">
                <i class="fa fa-expand"></i>
                </a>
                <a href="assets/img/property-7.jpg" class="hidden"></a>
                <a href="assets/img/property-6.jpg" class="hidden"></a>
              </div>
            </div>
          </div>
          <!-- detail -->
          <div class="detail">
            <h5 class="title"><a href="properties-details.html"><%= @recent_reviews[2].name %></a></h5>
            <h4 class="price">
              <%= t "price_str", price: price_review(@recent_reviews[2].price) %>
            </h4>
            <p><%= @recent_reviews[2].review %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInRight delay-04s">
        <div class="card property-box-2">
          <!-- property img -->
          <div class="property-thumbnail">
            <a href="properties-details.html" class="property-img">
            <% if @recent_reviews[3].picture.present? %>
              <%= cl_image_tag(@recent_reviews[3].picture, class:"img-fluid") %>
            <% else %>
              <%= image_tag("banner-2", class:"img-fluid") %>
            <% end %>
            </a>
            <div class="property-overlay">
              <a href="properties-details.html" class="overlay-link">
              <i class="fa fa-link"></i>
              </a>
              <a class="overlay-link property-video" title="Test Title">
              <i class="fa fa-video-camera"></i>
              </a>
              <div class="property-magnify-gallery">
                <a href="assets/img/property-1.jpg" class="overlay-link">
                <i class="fa fa-expand"></i>
                </a>
                <a href="assets/img/property-7.jpg" class="hidden"></a>
                <a href="assets/img/property-3.jpg" class="hidden"></a>
              </div>
            </div>
          </div>
          <!-- detail -->
          <div class="detail">
            <h5 class="title"><a href="properties-details.html"><%= @recent_reviews[3].name %></a></h5>
            <h4 class="price">
              <%= t "price_str", price: price_review(@recent_reviews[3].price) %>
            </h4>
            <p><%= @recent_reviews[3].review %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recent Properties end -->
<!-- Most popular places start -->
<div class="most-popular-places content-area-3">
  <div class="container">
    <div class="main-title">
      <h1><%= t ".most_popular_brand" %></h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <div class="row">
            <div class="col-md-12 col-pad wow fadeInLeft delay-04s">
              <div class="overview overview-box">
                <%= image_tag("https://cdn.mos.cms.futurecdn.net/tZUbviKrMhwVsajA27EdTJ-970-80.jpg", class:"img-fluid-1") %>
                <div class="mask">
                  <h2><%= @most_popular_brands[0].name %></h2>
                  <p><%= @most_popular_brands[0].reviews.count %></p>
                  <a href="properties-details.html" class="btn btn-border">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-pad wow fadeInUp delay-04s">
              <div class="overview overview-box">
                <%= image_tag("https://cdn.cultofmac.com/wp-content/uploads/2018/09/2.jpg", class:"img-fluid-1") %>
                <div class="mask">
                  <h2><%= @most_popular_brands[1].name %></h2>
                  <p><%= @most_popular_brands[1].reviews.count %></p>
                  <a href="properties-details.html" class="btn btn-border">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-pad wow fadeInUp delay-04s">
              <div class="overview overview-box">
                <%= image_tag("https://znews-photo.zadn.vn/w960/Uploaded/spcwvovd/2017_05_03/1BlackBerry_KeyOne_zing.jpg", class:"img-fluid-1") %>
                <div class="mask">
                  <h2><%= @most_popular_brands[2].name %></h2>
                  <p><%= @most_popular_brands[2].reviews.count %></p>
                  <a href="properties-details.html" class="btn btn-border">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-pad wow fadeInRight delay-04s">
          <div class="overview aa overview-box">
            <%= image_tag("https://znews-photo.zadn.vn/w960/Uploaded/spcwvovd/2017_05_03/1BlackBerry_KeyOne_zing.jpg", class:"big-img img-fluid-1") %>
            <div class="mask">
              <h2><%= @most_popular_brands[3].name %></h2>
              <p><%= @most_popular_brands[3].reviews.count %></p>
              <a href="properties-details.html" class="btn btn-border">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Most popular places end -->
<!-- Agent start -->
<div class="agent content-area wow fadeInUp delay-04s">
  <div class="container">
    <div class="main-title">
      <h1><%= t ".most_reivew_user "%></h1>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInLeft delay-04s">
        <div class="agent-2">
          <div class="agent-photo">
            <%= link_to user_path(@most_review_users[0]) do %>
              <% if @most_review_users[0].picture.present? %>
                <%= cl_image_tag(@most_review_users[0].picture, class:"img-fluid-1") %>
              <% else %>
                <%= image_tag("https://2sao.vietnamnetjsc.vn/images/2018/06/26/00/39/dich-le-nhiet-ba-1.jpg", class:"img-fluid-1") %>
              <% end %>
            <% end %>
          </div>
          <div class="agent-details">
            <h5>
              <%= link_to @most_review_users[0].name, user_path(@most_review_users[0]) %>
            </h5>
            <p>Web Developer</p>
            <ul class="social-list clearfix">
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInLeft delay-04s">
        <div class="agent-2">
          <div class="agent-photo">
            <%= link_to user_path(@most_review_users[1]) do %>
              <% if @most_review_users[1].picture.present? %>
                <%= cl_image_tag(@most_review_users[1].picture, class:"img-fluid-1") %>
              <% else %>
                <%= image_tag("https://2sao.vietnamnetjsc.vn/images/2018/06/26/00/39/dich-le-nhiet-ba-1.jpg", class:"img-fluid-1") %>
              <% end %>
            <% end %>
          </div>
          <div class="agent-details">
            <h5>
              <%= link_to @most_review_users[1].name, user_path(@most_review_users[1]) %>
            </h5>
            <p>Creative Director</p>
            <ul class="social-list clearfix">
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInRight delay-04s">
        <div class="agent-2">
          <div class="agent-photo">
            <%= link_to user_path(@most_review_users[2]) do %>
              <% if @most_review_users[2].picture.present? %>
                <%= cl_image_tag(@most_review_users[2].picture, class:"img-fluid-1") %>
              <% else %>
                <%= image_tag("https://2sao.vietnamnetjsc.vn/images/2018/06/26/00/39/dich-le-nhiet-ba-1.jpg", class:"img-fluid-1") %>
              <% end %>
            <% end %>
          </div>
          <div class="agent-details">
            <h5>
              <%= link_to @most_review_users[2].name, user_path(@most_review_users[2]) %>
            </h5>
            <p>Office Manager</p>
            <ul class="social-list clearfix">
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInRight delay-04s">
        <div class="agent-2">
          <div class="agent-photo">
            <%= link_to user_path(@most_review_users[3]) do %>
              <% if @most_review_users[3].picture.present? %>
                <%= cl_image_tag(@most_review_users[3].picture, class:"img-fluid-1") %>
              <% else %>
                <%= image_tag("https://2sao.vietnamnetjsc.vn/images/2018/06/26/00/39/dich-le-nhiet-ba-1.jpg", class:"img-fluid-1") %>
              <% end %>
            <% end %>
          </div>
          <div class="agent-details">
            <h5>
              <%= link_to @most_review_users[3].name, user_path(@most_review_users[3]) %>
            </h5>
            <p>Support Manager</p>
            <ul class="social-list clearfix">
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div >
<!-- Agent end -->
<!-- Testimonial start -->
<div class="testimonial overview-bgi wow fadeInUp delay-04s" style="background-image: url(<%= asset_path "sub-banner.jpg" %>)">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="testimonial-inner">
          <header class="testimonia-header">
            <h1><%= t ".about" %></h1>
          </header>
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="avatar">
                  <%= image_tag("https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/25508048_1633842013340088_8862556025020714501_n.jpg?_nc_cat=108&_nc_ht=scontent.fhan3-3.fna&oh=2e54387c6c36ef91c6ad607fe51323a5&oe=5C52BA2D", class:"img-fluid rounded-circle") %>
                </div>
                <p class="lead">
                  To make things more interesting, the iPhone XR also comes in six colors, the most Apple has ever had for any iPhone.
                </p>
                <div class="author-name">
                  <%= t ".author_1" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="avatar">
                  <%= image_tag("https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/41580105_1867213510059859_6845713901686882304_n.jpg?_nc_cat=104&_nc_ht=scontent.fhan4-1.fna&oh=da60229e05e53580b03043d98f9da1a4&oe=5C418DDA", class:"img-fluid rounded-circle") %>
                </div>
                <p class="lead">
                  Just, be sure to adjust your expectations accordingly. The U12 Life, which is HTC's fancy way of denoting its lite devices, lives up to its name. It is a solid mid-ranger, equipped just well enough to go against some current popular competitors from the likes of Xiaomi or Nokia.
                </p>
                <div class="author-name">
                  <%= t ".author_2" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="avatar">
                  <%= image_tag("https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-1/24174705_937069933112027_8550030118483902017_n.jpg?_nc_cat=100&_nc_ht=scontent.fhan3-3.fna&oh=263225270e073fcc4dc4904876f62e38&oe=5C52658B", class:"img-fluid rounded-circle") %>
                </div>
                <p class="lead">
                  The iPhone XR is the third iPhone to be launched this year, after the iPhone XS and the iPhone XS Max. While the two iPhone XS models are nearly identical save for the size, the iPhone XR is a significant departure for the iPhone X series and possibly a new chapter going forward.
                </p>
                <div class="author-name">
                  <%= t ".author_3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial end -->

<!-- intro section start -->
<div class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12">
        <%= image_tag("white-logo.png", alt:"logo", size: "80x50") %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="intro-text">
          <h3>Looking To Reviews Your Mobile?</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12">
        <a href="#" class="btn btn-md">Submit Now</a>
      </div>
    </div>
  </div>
</div>
<!-- intro section end -->
